<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Playlist System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<h1 align="center" th:text="${playlistName}"></h1>
	<div class="container my-2">
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr></tr>
				<tr>
					<th>Name</th>
					<th>Singer</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="songNotInPlaylist : ${songNotInPlaylists}">

					<td th:text="${songNotInPlaylist.name}"></td>
					<td th:text="${songNotInPlaylist.singer}"></td>
					<td><a
						th:href="@{/playlist/{playlistId}/song/{songId}/(playlistId=${playlistId},songId=${songNotInPlaylist.id})}"
						class="btn btn-primary">Add</a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/playlist}"> Back to Home page</a>
	</div>
</body>
</html>