<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Playlist System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<h1 align="center" th:text="${playlistName}"></h1>
	<div class="container my-2">

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr></tr>
				<tr>
					<th>Song Name</th>
					<th>Singer</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="playlistSongDTO : ${playlistSongDTOList}">
					<td th:text="${playlistSongDTO.songName}"></td>
					<td th:text="${playlistSongDTO.singerName}"></td>
					<td> <a type="button"
						th:with="url = @{/playlist/{playlistId}/song/{songId}(playlistId=${playlistSongDTO.playlistId},songId=${playlistSongDTO.songId})}"
						th:onclick="sendDelete([[${url}]])" class="btn btn-danger">Delete</a>
					</td>
				</tr>
				<tr>

					<td colspan="3"><a
						th:href="@{/playlist/{playlistId}/songs?isPlaylist=false(playlistId=${playlistId})}"
						class="btn btn-primary btn-lg btn-block"> Add Song </a></td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{/playlist}"> Back to Home page</a>
	</div>
	<script th:inline="javascript">
		function sendDelete(url) {
			var xhttp = new XMLHttpRequest();
			xhttp.open("DELETE", url, true);
			xhttp.onload = function() {
				let responseURL = xhttp.responseURL;
				console.log("Redirecting to:", responseURL);
				window.location.replace(responseURL);
			};
			xhttp.send();
		}
	</script>
</body>
</html>